<%- include('./partials/header.ejs') %>
<img id="diamond" class="diamond" src="/images/Background_img-removebg-preview.png">
    <img id="diamond1" class="diamond" src="/images/Background_img-removebg-preview.png">
    <img id="diamond2" class="diamond" src="/images/Background_img-removebg-preview.png">
    <img id="diamond3" class="diamond" src="/images/Background_img-removebg-preview.png">
    <img id="diamond4" class="diamond" src="/images/Background_img-removebg-preview.png">
    <img id="diamond5" class="diamond" src="/images/Background_img-removebg-preview.png">
    <img id="diamond6" class="diamond" src="/images/Background_img-removebg-preview.png">

    <img id="diamond7" class="diamond" src="/images/Background_img-removebg-preview.png">
    <img id="diamond8" class="diamond" src="/images/Background_img-removebg-preview.png">
    <img id="diamond9" class="diamond" src="/images/Background_img-removebg-preview.png">
    <img id="diamond10" class="diamond" src="/images/Background_img-removebg-preview.png">
    <img id="diamond11" class="diamond" src="/images/Background_img-removebg-preview.png">
    <img id="diamond12" class="diamond" src="/images/Background_img-removebg-preview.png">
    <img id="diamond13" class="diamond" src="/images/Background_img-removebg-preview.png">
<div class="index"> 
<h2><%=recipe.name%></h2>
    <h3>Serves: <%=recipe.qty%></h3>
<ul>
    <p>Ingredients:</p>
    <div class="ingredient-check">
        <label class="ingredient-check-label" for="flexCheckDefault">
           <% for(i=0; i<recipe.ingredients.length; i++) { %>
                <li>
                    <input class="ingredient-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <%=recipe.ingredients[i]%>
                </li>
            <% }%>
        </label>
      </div>
      <p>Directions:</p>
      <div class="direction-check">
        <label class="direction-check-label" for="flexCheckDefault">
            <% for(i=0; i<recipe.directions.length; i++) { %>
                <li>
                    <input class="direction-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <%=recipe.directions[i]%>
                </li>
            <% }%>          
        </label>
      </div>
    <li>Reference Link: <a href=""><%=recipe.link%></a></li>
</ul>
<img src="<%=recipe.img%>">

<div>
    Tried this recipe out? Tell us your thoughts!
    <input class='comment' type="text" value="comment here">
    <button class="post"> Post </button>
    <script>
        let postButton = document.querySelector(".post")
        postButton.addEventListener("click", handleClickEvent)
        function handleClickEvent() {
            const commentCreate = document.createElement('p')
            commentCreate.innerText = document.querySelector('.comment').value 
            document.querySelector('.commentSection').append(commentCreate)
        }
    </script>    
</div>

<div class="commentSection">
   
</div>
</div>  
<%- include ('./partials/footer.ejs') %>