<%- include('./partials/header.ejs') %>
    <h2><%=recipe.name%></h2>
    <h3>Serves: <%=recipe.qty%></h3>
<ul>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Ingredients: <%=recipe.ingredients%>
        </label>
      </div>
    <li>Directions: <%=recipe.directions%></li>
    <li>Reference Link: <a href=""><%=recipe.link%></a></li>
</ul>
<img src="<%=recipe.img%>">
<footer>
    Tried this recipe out? Tell us your thoughts!
    <input type="text" value="comment here">
    <button class="post"> Post </button>
</footer>
<%- include ('./partials/footer.ejs') %>