<!DOCTYPE html>
<head>
    <title>Recipe Card</title>
</head>
<body>
    <h2><%=recipe.name%></h2>
<ul>
    <li><%=recipe.ingredients%></li>
    <li>Directions: <%=recipe.directions%></li>
</ul>
<img src="<%=recipe.img%>">
<footer>
    <a href="/recipes">Back to products</a>

    <form action="/recipes/<%= recipe.id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>
</footer>
</body>
</html>